.ipynb_checkpoints
/Butterworth.txt
/Butterworth.txtsim2.png
/Chebyshev.txt
/Chebyshev.txtsim3.png
/Draft1.txt
/Draft1.txtsim.png
/HighChebyshevFreq.txt
/HighChebyshevFreq.txtsim2.png
/HighChebyshevStep.txt
/hoge.txt
/StepButter.txt
/StepButter.txt.txtsim.png
/StepButter.txtsim.png
/StepChebyshev.txt